.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
 }
 .btn:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 20px rgba(226, 216, 216, 0.883);
 }
 .btn:active {
     transform: translateY(-1px);
     box-shadow: 0 10px 20px rgba(255, 0, 0, 0.493)
 }
 .btn-white{
     background-color:rgba(0, 0, 0, 0.541);
     color: rgb(246, 250,8);
 }

 .btn::after{
     content: "";
     display: inline-block;
     height: 100%;
     width: 100%;
     border-radius: 100px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     transition: all .3s;
 }
  
 .btn-white::after{
     background-color: rgba(199, 186, 186, 0.486)
 }

 .btn:hover::after{
   transform: scalex(1.4) scaleY(1.6);
   opacity: 0.2;
 }
 
 .btn-animated{
     animation: moveInBotton .5s ease-out .75s;
     animation-fill-mode: backwards;
 }